# Ignore all files in the root except specific ones
/*
!.gitignore
!README.md
!LICENSE
!src
!pom.xml
!img
!Dockerfile
!docker-compose.yml
!mvnw
!mvnw.cmd

# Maven build directories
/target/

# IDE-specific files
.idea/
*.iml
*.ipr
*.iws

# Compiled Java classes
*.class

# Logs
*.log

# Ignore application properties for different environments
/src/main/resources/application*.properties